section {
    background-color: #223542;
    width: 100%;
    display: flex;
    align-items: center;
}
.cards__block {
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.card {
    display: flex;
    align-items: center;
}

.card > div > img {
    margin: 25px;
}
.card div h2 {
    color: white;
}
.card div p {
    color: #CECECE;
}
